body {
	margin: 0;
	background-color: black;
	height: 100vh;
}

#loading-screen {
	position: absolute;
	background-color: black;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100vw;	
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}


#loading-screen > h1 {
	color: white;
	font-size: 40px;
}

/* contains all thorana elements */
#thorana {
	z-index: 0;
	width: 702px;
	height:1035px;
	position: relative; /* Setting this property to relative makes all the elements of thorana position relative to the main image */
}

/* Background peacoc image */
#peacocBg {
	position: absolute;
	width: 1035px;
	height: 702px;
	top:0;
	left:0;
}

/* Containing all buddha rupaya and lights */
#budda-rupaya-with-lights {
	width: 415px; /* Grouping the both buddha rupaya and lights */
	height: 400px;
	position: relative;
	top: 300px;
	left: 367px;
}

/* Budddha rupaya (image only) */
#buddha-rupaya {
	z-index: 10;
	/* Positioned relative to the #buddha-rupaya-with-lights */ 
	position: absolute;
	width: 330px;
	height: auto;
	left:0;	
	top:0;
}

#buduras {
	position: relative;
	top:-69px;
	left:65px;
}

#buduras-lights {
	/* Positioned relative to the #buduras */
	position: absolute;
	top:0px;
	left: 0px;
	width: 200px;
	height: auto;
}

#buduras-bg {
	position: absolute;
	height: auto;
	top: 0;
	left: 0;
}