body {
	margin: 0;
	background-color: black;
	height: 100vh;
}

#loading-screen {
	position: absolute;
	background-color: black;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}


#loading-screen > h1 {
	color: white;
	font-size: 40px;
}

/* contains all thorana elements */
#thorana {
	z-index: 0;
	width: 702px;
	height:1035px;
	position: relative; /* Setting this property to relative makes all the elements of thorana position relative to the main image */
}

/* Background peacoc image */
#peacocBg {
	position: absolute;
	width: 1035px;
	height: 702px;
	top:0;
	left:0;
}

/* Containing all buddha rupaya and lights */
#budda-rupaya-with-lights {
	width: 415px; /* Grouping the both buddha rupaya and lights */
	height: 400px;
	position: relative;
	top: 300px;
	left: 367px;
}

/* Budddha rupaya (image only) */
#buddha-rupaya {
	z-index: 10;
	/* Positioned relative to the #buddha-rupaya-with-lights */ 
	position: absolute;
	width: 330px;
	height: auto;
	left:0;	
	top:0;
}

#buduras {
	position: relative;
	top:-74px;
	left:66px;
}

#buduras-lights {
	/* Positioned relative to the #buduras */
	position: absolute;
	top:0px;
	left: 0px;
	width: 200px;
	height: auto;
}

#buduras-bg {
	position: absolute;
	width: 200px;
	height: auto;
	top: 0;
	left: 0
}

/* Each story circle follow these styles  */
.story {
	position: relative;
	width: 160px;
	height: 160px;
}

/* All image of the story (lights + image) */
.story > img {
	position: absolute;
}

.story-lights {
	width: 150px;
	height: 150px;
	top: 0;
	left: 0;
}

/* Background of the lights */
.light-bg {
	width: 150px;
	height: 150px;
	top: 0;
	left: 0;
}

.story-image {
		width: 124px;
		height: 124px;
		top: 14px;
		left: 13px;
}

#story-1 {
    top: 69px;
    left: 161px;
}

#story-2 {
	top:-198px;
	left:295px;
}

#story-3 {
    top: -413px;
    left: 136px;
}

#story-4 {
    top: -684px;
    left: 279px;
}

#story-5 {
    top: -965px;
    left: 465px;
}

#story-6 {
    top: -1006px;
    left: 638px;
}

#story-7 {
    top: -1059px;
    left: 772px;
}

#story-8 {
    top: -1165px;
    left: 617px;
}

#story-9 {
    top: -1218px;
    left: 746px;
}

#padama {
	position: relative;
	width: 702px;
	height: 400px;
	top:-362px;
	left:169px;
}

#padama-banner {
	position: absolute;
	width: 702px;
	height: auto;
	top: 0px;
	left: 0px;
}

#padama-lights {
    position: absolute;
    width: 837px;
    top: -68px;
    left: -66px;
}